*{
    padding: 2px;
    margin: 0;
    scroll-behavior: smooth;
}






.questions-class {
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
    margin: 10px 0px;
}

.questions-class >h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.options {
    padding: 4px 10px;
}

.border{
    width:100%;
    background-color:#fad744;
    border:1px solid blue;
    margin-top:30px;
    padding: 0px;
}

#submitBtm {
    text-align: center;
}

#submitBtn input{
     background-color: black;
    border: none;
    padding: 8px 4px;
    border-radius:4px;
    font-size: 20px;
    color:white;
    cursor:pointer;
    margin: 0px 50%;
}

#nextBtn {
    position: relative;
    left: 50%;
    width: 100px;
    justify-self: center;
    border: none;
    background-color: #ff7301;
    color: white;
    border-radius: 9px;
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(65, 63, 63, 0.589);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: translateY(5%);
    animation-iteration-count: 1;
}

#nextBtn:hover {
    color: white;
    background-color: #6b3000;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: translateY(-5%);
    animation-iteration-count: 1;
  }

#submitBtn {

   border: none;
   padding: 15px 4px;
   font-size: 20px;
   color:white;
   cursor:pointer;
   margin: 0px 25%;
   height: 100px;
   font-size: 50px;
   display: none; 
   width: 50%;

   position: relative;
   background-color: #ff7301;
   border-radius: 9px;
   box-shadow: 0px 2px 4px rgba(65, 63, 63, 0.589);
   transition-timing-function: ease-in-out;
   transition: 0.2s;
   transform: translateY(5%);
   animation-iteration-count: 1;
}

#submitBtn:hover {
    color: white;
    background-color: #6b3000;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: translateY(-5%);
    animation-iteration-count: 1;
  }
.result-div {
    background-color: burlywood;
}