*{
    box-sizing: border-box;

}

body{
background-image: url("img/");
background-size: cover;
}

nav {
    padding: 5px;
    position: relative;
    margin: auto;
    display: flex;
    margin: 10px;
background-color: rgb(11, 243, 173);
text-decoration-color: rgb(151, 22, 238);
text-decoration: ;
box-shadow: 4px 5px 5px;
border-radius: 5px;

}
